.ods-status {
  position: relative;
  padding: 0 $em-tiny-spacing 0 $em-small-spacing;
  background-color: transparent;
  color: $text-body;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.5em;
    height: 0.5em;
    transform: translateY(-50%);
    border-radius: 1em;
    background-color: cv('gray', '700');
  }
}

.is-ods-status-success {
  &::before {
    background-color: cv('success', 'base');
  }
}

.is-ods-status-caution {
  &::before {
    background-color: cv('caution', 'base');
  }
}

.is-ods-status-danger {
  &::before {
    background-color: cv('danger', 'base');
  }
}
